
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

h4 {
	margin-top: 10px;
	margin-bottom: 0px;
}
input > #change {
	margin-bottom: 10px;
}

.choice {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#recurDisplay {
	width: 211px;
}

.grid_rcl {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
.remove {
	grid-column: auto;
}
.update {
	grid-column: auto;
}
.myList::selection{
	text-decoration: underline;
	grid-column: auto;
	cursor: pointer;
	background-color: transparent;
	color: #000;
}

li{
	text-decoration: underline;
	cursor: pointer;
	list-style: none;

}
